@font-face {
    font-family: merriweather-regular;
    src: url("/font/Merriweather-Regular.ttf");
}

.bg-nav {
    background-color: #fa9639;
}

.header {
    margin-left: 15px;
    align-items: center;
    display: flex;
    font-family: merriweather-regular;
}

.round-container {
    border-radius: 20px;
    background-color: #fbe2cb;
}

button {
    background: rgba(255, 255, 255, .7);
    border-color: transparent;
}

button:focus {
    border-color: transparent;
}